header{
  height: 90px;
  background-color:rgb(2, 5, 88);
  text-align: center;
  padding: 30px ;
  margin: -8px ;
  

  
}

footer{
height: 90px;
background-color:rgb(2, 5, 88);
text-align:center;
padding: 30px ;
margin: -8px ;
margin-top: 650px;
width: auto;
text-align:left;
} 



h1{
    font-style: italic;
    letter-spacing: 10px;
    font-size: 47px;;
    color: rgb(226, 12, 12);
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  }

button{
background-color: rgb(241, 236, 79);
border-radius: 10px;
}
  
p{
font-style: italic;
color: goldenrod;
font-size: 25px ;
}

h2{
  color: brown;
}


