header{
  height: 90px;
  background-color:rgb(233, 230, 166);
  text-align: center;
  padding: 30px ;
  margin: -8px ;
  

  
}

footer{
height: 90px;
background-color:rgb(233, 230, 166);
text-align:center;
padding: 30px ;
margin: -8px ;
margin-top: 650px;
width: auto;
text-align:left;
} 



h1{
    font-style: italic;
    letter-spacing: 10px;
    font-size: 47px;;
    color: rgb(226, 12, 12);
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  }

.botao{
background-color: rgb(241, 236, 79);
border-style: solid;
text-align:right;

}
  
label{
font-style: italic;
color: goldenrod;
font-size: 25px;

}

h2{
  color: brown;
}

div{
  background-color: rgba(170, 158, 71, 0.357);
  height: 90px;
  text-align: center;
  
}

