header{
  height: 100px;
  background-color:rgb(215, 209, 121);
  text-align: center;
  padding: 30px ;
  margin: -8px ;
  

  
}

footer{
height: 100px;
background-color: rgb(215, 209, 121);
text-align:center;
padding: 30px ;
margin: -8px ;
margin-top: 650px;
width: auto;
text-align:left;
} 



h1{
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 45px;;
    color: rgb(162, 142, 216);
}



  